<header>
  <div class="container">
    <div class="logo">Easy<span>CRM</span></div>
    <ul class="menu">
      <li>
        <a href="/app/leads">Leads</a>
      </li>
      <li>
        <a href="/app/products">Products</a>
      </li>
      <li>
        <a href="/app/sales">Sales</a>
      </li>
    </ul>
    <ul class="auth">
      <li>
        <span><%= user.name %></span>
      </li>
      <li>
        <form action="/logout" method="post">
          <input type="submit" value="Logout" />
        </form>
      </li>
    </ul>
  </div>
</header>
