<nav class="filters">
  <ul>
    <li><a class="btn" href="/app/products/new">Add New</a></li>
  </ul>
  </ul>
  <ul class="search">
    <li>
      <form action="/products/search" method="post">
        <input type="search" name="value" placeholder="search" />
        <input type="submit" value="search" disabled />
      </form>
    </li>
  </ul>
</nav>