<nav class="filters">
  <ul class="search">
    <li>
      <form action="/sales/search" method="post">
        <input type="search" name="value" placeholder="search" />
        <input type="submit" value="search" disabled />
      </form>
    </li>
  </ul>
</nav>